*{
    padding: 0px;
    margin: 0px;
    /* box-sizing: border-box; */
    font-family: sans-serif;
    /* background-image: url(/assignment/src/assets/images/BackgroundImage.jpg); */
}
.navbar ul{
    display:flex;
    width:100%;
    align-items: center;
    background-color: black;
    color:white;
}
.navbar li{
    list-style-type: none;
    padding:18px;
}
.navbar a{
    text-decoration: none;
    color:white;
}
.navbar-logo{
    flex: 1;
    font-size:20px;
    user-select: none;
}
.navbar-btn{
    display: none;
}
.navbar-links:hover{
    background-color:cyan;
}
.navbar-links:hover a{
    color:black;
}
@media(max-width:600px){
    .navbar ul{
        flex-wrap: wrap;
    }
    .navbar-btn{
        display: block;
    }
    .navbar-links{
        display: none;
        width:100%;
        text-align: center;
    }
}


