<head>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<nav class="navbar">
    <ul>
        <li class="navbar-logo">Any</li>
        <li class="navbar-toggle"(click)="togglemenu()" >icon<i class="fas fa-bars" alt="icon"></i></li>
        <li class="navbar-links" *ngIf="showMenu"><a href="#">Home</a></li>
        <li class="navbar-links"><a href="#">About</a></li>
        <li class="navbar-links"><a href="#">Skill</a></li>
        <li class="navbar-links"><a href="#">Contact</a></li>

    </ul>
</nav>